@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == 'sm' {
    @media (max-width: 640px) {
      @content;
    }
  }
}