
@import './theme';


$color-primary: $theme-primary;
$color-primary-dark: $theme-primary-dark;
$color-secondary: $theme-gray-600;

$color-white: $theme-white;
$color-success: $theme-success;
$color-danger: $theme-danger;

$color-gray-50: $theme-gray-50;
$color-gray-100: $theme-gray-100;
$color-gray-200: $theme-gray-200;
$color-gray-300: $theme-gray-300;
$color-gray-400: $theme-gray-400;
$color-gray-500: $theme-gray-500;
$color-gray-600: $theme-gray-600;
$color-gray-700: $theme-gray-700;
$color-gray-800: $theme-gray-800;
$color-gray-900: $theme-gray-900;

// Spacing
$spacing-sm: $theme-spacing-sm;
$spacing-md: $theme-spacing-md;
$spacing-lg: $theme-spacing-lg;
$spacing-xl: $theme-spacing-xl;

// Border Radius
$radius-md: $theme-radius-md;
$radius-lg: $theme-radius-lg;
$radius-xl: $theme-radius-xl;

// Transitions
$transition-base: $theme-transition-base;