@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', -apple-system, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  min-height: 100vh;
}